.dropdown-wrapper {
  list-style-type: none;
}

.dropdown_top {
  margin: 33px 208px 0 208px;
  height: 47px;
  min-width: 20.9rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 18px;
  background: #ff6060;
  border-radius: 5px;
  font-size: 1.5rem;
}

.dropdown_bottom {
  margin: 0 208px 33px 208px;
  min-height: 50px;
  color: #ff6060;
  padding:1.88rem 1.12rem .38rem 1.12rem;
  background: #f7f7f7;
  font-size: 1.5rem;
}
.chevron-up,
.chevron-down {
  background: #ff6060;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* media queries */
@media screen and (max-width:992px){
  .dropdown_top {
    margin: 1.75rem 1.75rem 0 1.75rem;
    height: 2.2rem;
    font-size: 1rem;
  }
.dropdown_top span{
  font-size: 1rem;
}
  .dropdown_bottom {
    margin: 0 1.75rem 1.75rem 1.75rem;
    font-size: 0.95rem;
    
  }

  .chevron-up,
  .chevron-down {
    font-size: 1.1rem;
  }
  .dropdown-wrapper {
    min-width: 21rem;
  }
} 

@media screen and (max-width:768px) {
  .dropdown_top {
    margin: 1.25rem 1.25rem 0 1.25rem;
    height: 1.9rem;
    font-size: 0.81rem;
  }
.dropdown_top span{
  font-size: .81rem;
}
  .dropdown_bottom {
    margin: 0 1.25rem 1.25rem 1.25rem;
    font-size: 0.75rem;
    
  }

  .chevron-up,
  .chevron-down {
    font-size: 0.83rem;
  }
  .dropdown-wrapper {
    min-width: 21rem;
  }
}



