.rating-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.rating_profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rating_profile-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2rem;
  height: 52px;
  width: 7rem;
  text-align: right;
  margin-right: 10px;
}
.rating_profile-pic {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: #c4c4c4;
}
.star {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.rating_stars{
  margin-top: 1rem;
}

/* media queries tablet */

@media screen and (max-width: 992px) {
  .rating-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 1rem 0;
  }
}


/* media queries mobile*/

@media screen and (max-width: 768px) {
  
  .rating_stars {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .star {
    height: 15px;
    width: 15px;
  }
  .rating_profile-name {
    height: 2rem;
    width: 5.8rem;
    font-size: 0.75rem;
  }
  .rating_profile-pic {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
}
