.logement-wrapper {
  margin: 43px 100px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f7f7f7;
  position: relative;
}
.logement {
  position: relative;
  height: 415px;
  width: 100%;
  min-width: 21rem;
}

.logement_presentation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.white-star {
  color: #e3e3e3;
}

/* dropdown logement */
.logement_dropdown {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logement_dropdown .dropdown-wrapper {
  width: 100%;
}
.logement_dropdown .dropdown-wrapper:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logement_dropdown .dropdown_top {
  width: 90%;
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.38rem 1.12rem;
  background: #ff6060;
  border-radius: 5px;
  font-size: 24px;
}

.logement_equipement {
  font-size: 1rem;
}

.logement_dropdown .dropdown_bottom {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  color: #ff6060;
  background: #f7f7f7;
  font-size: 1rem;
}

/* media queries tablet */

@media screen and (max-width: 992px) {
  .logement-wrapper {
    margin: 2.7rem 1rem;
  }

  .logement {
    margin: 0;
  }
  .logement_presentation {
    display: flex;
    flex-direction: column;
  }
  .logement_dropdown {
    display: flex;
    flex-direction: column;
  }
  .logement_dropdown .dropdown_top {
    width: 100%;
    margin-bottom: 1.25rem;
    font-size: 1.1rem;
    padding: 0 1.12rem;
  }
  .chevron-up,
  .chevron-down {
    width: 0.6rem;
  }
  .logement_dropdown .dropdown_bottom {
    width: 100%;
    font-size: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
  }
  .logement_equipement {
    font-size: 0.85rem;
  
  }
}

/* media queries mobile */

@media screen and (max-width: 768px) {
  .logement-wrapper {
    padding: 0 1.25rem;
    margin: 0;
  }

  .logement_dropdown .dropdown_top {
    font-size: 1.1rem;
  }

  .logement_equipement {
    font-size: 0.75rem;
  }
}
