.carousel-box{
   height: 415px;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   
}
.carousel-item{
   width:840px; 
   height: 415px;
   border-radius: 25px;
   object-fit: cover;


   
}