.app-header {
  display: flex;
  width: 100%;
  height: 108px;
  margin: 40px 0;
  padding: 0 100px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.app-logo {
    height: 68px;
    width: 210px;
  }
  
  .app-nav{
    height: 34px;
    width: 309px;
    display: flex;
    justify-content: space-around;
    /* border:1px solid #000;  */
  }
  
  .app-link {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
    height: 34px;
    display: flex;
    align-items: flex-end;
    text-align: right; 
    text-decoration: none;
       /* border:1px solid #000;   */
  }
  .app-accueil{
    left: 0;
    right: 13.95%;
    width: 136px;
  
  }
  .app-propos{
    /* left: 90.65%; */
    right: 0%;
    width: 116px;
    text-decoration: none;
    /* border:1px solid green; */
  }
  .active{
    text-decoration: underline;
  }
  

  /****
  media querries
  ***/

  @media only screen and (max-width: 425px) {
    .app-header {
      
      width: 100%;
      height: 108px;
      margin: 20px;
      padding: 0;
    }
    .app-logo {
      height: 2.6rem;
      width: 6rem;
    }
    .app-nav{
      height: 1rem;
      width: 8rem;
     
    }
    .app-link {
      font-size: .7rem;
      line-height: 17.11%;
      height: 1rem;
    }
    .app-accueil{ 
      width: 5rem;
    }
    .app-propos{
      width: 7rem
    
    }


  }