.label-box
{
  display: flex;
  /* border: 1px solid blue; */
  width: 60%;
  flex-direction: column;
  margin: 1rem 0;
}

.title{
  font-size: 2rem;
  height: 3rem;
  font-weight: 500;

}
.location{
  width: 35%;
  font-size: 1rem;
}

.tags{
  margin: 1rem 0;
  display: flex;
}
.tag{
  height: 25px;
  width: 9rem;
  text-align: center;
  background: #FF6060;
  color: #fff;
  margin-right: 10px;
  border-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: .9rem;

}
.presentation-wrapper{
  display: flex;
  justify-content: space-between;
}