.main-logement {
  margin: 43px 100px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f7f7f7;
  position: relative;
}
.logement {
  position: relative;
  height: 415px;
  width: 100%;
  min-width: 21rem;
}

.presentation-wrapper {
  width: 100%;
}
.white-star {
  color: #e3e3e3;
}

/* dropdown logement */
.dropdown-logement {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown-logement .dropdown-wrapper {
  width: 100%;
}
.dropdown-logement .dropdown-wrapper:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dropdown-logement .dropdown-top {
  width: 90%;
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 18px;
  background: #ff6060;
  border-radius: 5px;
  font-size: 24px;
}
.equipement {
  font-size: 1rem;
}

.dropdown-logement .dropdown-bottom {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  color: #ff6060;
  padding: 6px 18px;
  background: #f7f7f7;
  font-size: 1rem;
}


/* media queries */


@media screen and (max-width:425px){
  .main-logement{
    padding: 0 1.25rem;
    margin: 0;

  }
  .logement{
margin: 0;
  }
  .presentation-wrapper{
    display: flex;
    flex-direction: column;
  }
  .dropdown-logement {
    display: flex;
    flex-direction: column;
  }
  .dropdown-logement .dropdown-top{
    width: 100%;
    margin-bottom: 1.25rem ;
  }
  .dropdown-wrapper{
    min-width: 21rem;
  }
  .chevron-up, .chevron-down{
    height: .95rem;
width: .6rem
  }
  .dropdown-logement .dropdown-bottom {
    width: 100%;
   font-size: 0.75rem;
  }
  .equipement{
    font-size: 0.75rem;
  }
}