.app-main{
    margin: 43px 100px;
    padding: 56px 50px;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f7f7f7;
    /* border: 1px solid red; */
}