.main{
    margin: 43px 100px ;
    padding: 56px 50px; 
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f7f7f7; 
}

  /****************
  ***************
    media queries tablet
  ***************
  *****************/

  @media only screen and (max-width: 992px){
    .main{
        padding: 1.25rem;
        margin: 2.7rem 1rem;
        flex-direction: column;
        align-items: center;
    }
  }  

  /* media queries mobile */

  @media screen and (max-width:768px){
    .main{
        padding: 1.25rem;
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
  }