.main{
    margin: 43px 100px ;
    padding: 56px 50px; 
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f7f7f7; 
}

  /* media queries */

  @media screen and (max-width:425px){
    .main{
        padding: 1.25rem;
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
  }