.label-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.label-box_title {
  font-size: 2rem;
  font-weight: 500;
}
.label-box_location {
  font-size: 1rem;
  margin: 1rem 0;
}

.label-box_tags {
  margin: 1rem 0;
  display: flex;
}
.label-box_tag {
  width: 9rem;
  text-align: center;
  background: #ff6060;
  color: #fff;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem;
}

/* media queries tablet */

@media screen and (max-width: 992px) {
  .label-box_title {
    font-size: 1.5rem;
  }
}

/* media queries mobile */

@media screen and (max-width: 768px) {
  .label-box {
    margin-bottom: 0;
  }

  .label-box_title {
    font-size: 1.1rem;
  }

  .label-box_location {
    font-size: 0.9rem;
  }

  .label-box_tags {
    width: 100%;
  }

  .label-box_tag {
    font-size: 0.62rem; 
    border-radius: 5px;
  }
}
