.label-box
{
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 1rem 0;
}

.label-box_title{
  font-size: 2rem;
  height: 3rem;
  font-weight: 500;

}
.label-box_location{
  width: 35%;
  font-size: 1rem;
}

.label-box_tags{
  margin: 1rem 0;
  display: flex;
}
.label-box_tag{
  height: 25px;
  width: 9rem;
  text-align: center;
  background: #FF6060;
  color: #fff;
  margin-right: 10px;
  border-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: .9rem;

}

/* media queries */

@media screen and (max-width: 425px){
  .label-box{
    width: 100%;
    margin-bottom: 0;
  }
  .label-box_title{
    font-size: 1.1rem;
  }
  .label-box_location{
    font-size: 0.9rem;
    margin: 0;
    width: 100%;
  }
  .label-box_tags{
    width: 100%;
  }
  .label-box_tag{
    font-size: 0.62rem;
    height: 1.12rem;
width: 5.25rem;
border-radius: 5px;

  }

  

}