.errorPage {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}
.errorPage_code {
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 66px;
}
.errorPage_message {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 182px;
}
.errorPage_link {
  margin-bottom: 150px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: inherit;
}

/*media queries*/

@media screen and (max-width: 425px) {
  .errorPage_code {
    font-size: 6rem;
    line-height: 8.6rem;
    margin-top: 13.12rem;
    margin-bottom: 0.69rem;
  }
  .errorPage_message {
    font-size: 1.12rem;
    line-height: 1.62rem;
    text-align: center;
    margin: 0 3.62rem 8.3rem 3.62rem;
  }
  .errorPage_link {
    font-size: 0.88rem;
    line-height: 1.25rem;
    text-align: center;
  }
}
